.input-group {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    // border: 1px solid rgb(110 144 159);
    border: 1px solid rgb(225,150,20, 0.2);
  }