<ion-toolbar color="primary">
  <ion-title>{{ 'MODAL.edit_order_data' | translate }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <form [formGroup]="formGroup">

    <ion-card class="input-group">
      <ion-card-header>
        <ion-card-title>{{ 'ORDER.details.reciver_info' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-label type="text" position="fixed">{{ 'ORDER.customer' | translate }}</ion-label>
        <ion-input maxlength="125" placeholder="{{ 'ORDER.customer' | translate }}" formControlName="end_customer_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label type="text" position="fixed">{{ 'ORDER.city' | translate }}</ion-label>
        <ion-select formControlName="city" interface="action-sheet" mode="ios">
          <ion-select-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label type="text" position="fixed">{{ 'ORDER.address' | translate }}</ion-label>
        <ion-input maxlength="125" placeholder="{{ 'ORDER.address' | translate }}" formControlName="end_customer_address"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label type="text" position="fixed">{{ 'ORDER.phone' | translate }}</ion-label>
        <ion-input maxlength="125" placeholder="{{ 'ORDER.phone' | translate }}" formControlName="end_customer_phone"></ion-input>
      </ion-item>
    </ion-card>
    
  </form>
  <ion-button class="save-button" expand="block" (click)="save()">{{ 'save' | translate }}</ion-button>
</ion-content>
