ion-content {
  --padding-top: 10px;
  --padding-start: 10%;
  --padding-end: 10%;

  --background: url("/assets/background/bg1.png") repeat;
}

ion-segment {
  --background: var(--ion-color-primary);
}

ion-segment-button > ion-label {
  font-weight: bold;
  letter-spacing: 0px;
}

.center {
  margin: auto;
  width: 90px;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px;
  margin-top: 10px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

ion-button {
  --border-radius: 8px;
  margin-top: 10px;
}

.item-notes {
  margin-top: 10px;
  --border-color: var(--ion-color-dark);
  --border-radius: 10px;
  --border-style: solid;
  --border-width: 1px;
  --background: var(--ion-color-dark);
  opacity: 0.5;
}