<ion-toolbar color="primary">
  <ion-title>{{ 'MODAL.reset_password' | translate }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <div class="input-group">
    <ion-item lines="none">
      <ion-label position="fixed">{{ 'MODAL.email' | translate }}</ion-label>
      <ion-input type="email" placeholder="{{ 'MODAL.email' | translate }}" [(ngModel)]="email" required></ion-input>
    </ion-item>
  </div>
  <ion-button class="save-button"  expand="block" (click)="save()" [disabled]="email == ''">{{ 'save' | translate }}</ion-button>

</ion-content>
