<ion-toolbar color="primary">
  <ion-title>{{ 'MODAL.change_password' | translate }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <form [formGroup]="userFG">
    
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'REGISTER.old_password' | translate }}</ion-label>
        <ion-input maxlength="125" type="password" placeholder="{{ 'REGISTER.old_password' | translate }}" formControlName="oldPassword"></ion-input>
      </ion-item>
      <div *ngIf="(oldPassword.dirty || oldPassword.touched) && oldPassword.errors" class="errors">
        <span *ngIf="oldPassword.errors?.required">{{ 'LOGIN.password_required' | translate }}</span>
        <span *ngIf="oldPassword.errors?.minlength">{{ 'LOGIN.password_characters' | translate }}</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'REGISTER.new_password' | translate }}</ion-label>
        <ion-input maxlength="125" type="password" placeholder="{{ 'REGISTER.new_password' | translate }}" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">{{ 'LOGIN.password_required' | translate }}</span>
        <span *ngIf="password.errors?.minlength">{{ 'LOGIN.password_characters' | translate }}</span>
      </div>
    </div>
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'REGISTER.confirm_password' | translate }}</ion-label>
        <ion-input maxlength="125" type="password" placeholder="{{ 'REGISTER.confirm_password' | translate }}" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && userFG.hasError('notSame')" class="errors">
        <span>{{ 'REGISTER.pass_not_match' | translate }}</span>
      </div>
    </div>
  </form>
    
    <ion-button class="save-button"  expand="block" (click)="save()">{{ 'save' | translate }}</ion-button>
    
</ion-content>