ion-item > ion-label {
    min-width: 140px;
}

.input-group {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    // border: 1px solid rgb(110 144 159);
    border: 1px solid rgb(225,150,20, 0.2);
  }
  
  .errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  ion-button {
    --border-radius: 8px;
    margin-top: 10px;
  }
  
  .item-notes {
    margin-top: 10px;
    --border-color: var(--ion-color-dark);
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 1px;
    --background: var(--ion-color-dark);
    opacity: 0.5;
  }