.beeicon {
    width: 65%;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-top: 10px;
}

.acticon {
    width: 45%;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}