<ion-toolbar color="primary">
  <ion-title>{{ 'MODAL.change_status' | translate }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <form [formGroup]="formGroup">
    <div class="input-group">
      <ion-item lines="none" *ngIf="userType != 2">
        <ion-label>{{ 'status' | translate}}</ion-label>
        <ion-select formControlName="status" placeholder="{{ 'select_one' | translate}}">
          <ion-select-option *ngFor="let status of statuses" [value]="status.id"
            [disabled]=" 
            (order.status_id == 1 && ((status.id >= 3 && status.id <= 7) || status.id ==1) ) ||
            ((order.status_id == 2 || order.status_id == 3) && (status.id >= 6 || status.id <= order.status_id) ) ||
            (order.status_id == 4 && (status.id == 1 || status.id == 4 || status.id == 6 || status.id == 8) ) ||
            (order.status_id == 5 && (status.id <= 3 || status.id == 5 || status.id >= 7) ) ||
            (order.status_id >= 6)  ">
            {{ 'ORDER.STATUS.' + status.id | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="userType == 2">
        <ion-label>{{ 'status' | translate}}</ion-label>
        <ion-select formControlName="status" placeholder="{{ 'select_one' | translate}}">
          <ion-select-option [value]="1" [disabled]="true">{{ 'ORDER.STATUS.' + 1 | translate }}</ion-select-option>
          <ion-select-option [value]="8" [disabled]="order.status_id != 1">{{ 'ORDER.STATUS.' + 8 | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="input-group">
      <ion-item lines="none">
        <ion-label>{{ 'MODAL.notes' | translate }}</ion-label>
        <ion-textarea maxlength="500" formControlName="notes"></ion-textarea>
      </ion-item>
    </div>
    <div class="input-group" *ngIf="formGroup.controls.status.value == 7">
      <ion-item lines="none">
        <ion-label>{{ 'MODAL.return_amount' | translate }}</ion-label>
        <ion-input type="number" maxlength="250" clearInput inputmode="tel" formControlName="amount"></ion-input>
      </ion-item>
    </div>
    <div class="input-group" *ngIf="formGroup.controls.status.value == 5">
      <ion-item lines="none">
        <ion-label type="text" position="fixed">{{ 'ORDER.driver' | translate }}</ion-label>
        <ion-select formControlName="driver_id" interface="action-sheet" mode="ios">
          <ion-select-option *ngFor="let driver of drivers" [value]="driver.id">{{driver.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>
  <ion-button class="save-button" expand="block" (click)="save()">{{ 'save' | translate }}</ion-button>
</ion-content>