<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="CallNumber">
    <param name="ios-package" value="CFCallNumber"/>
  </feature>

  <feature name="FileOpener2">
    <param name="ios-package" value="FileOpener2"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="SQLitePlugin">
    <param name="ios-package" value="SQLitePlugin"/>
  </feature>

  <feature name="BarcodeScanner">
    <param name="ios-package" value="CDVBarcodeScanner"/>
  </feature>

  
  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="19" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="FadeSplashScreenDuration" value="0" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="SplashScreen" value="none" />
  <preference name="SplashScreenDelay" value="0" />
</widget>